<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Star Wars Films</title>
</head>
<body>
<!-- Header-->
<header class="bg-dark py-1">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search">
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center" >
      <div *ngFor="let film of films | filter:searchTerm">
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Film details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Film title-->
                <h5 class="fw-bolder" >{{film.title}}</h5>
                <!-- Release date-->
                {{film.release_date}}
              </div>
              <!-- Opening crawl-->
              <div>
                {{film.opening_crawl}}
              </div>
            </div>
            <!-- Actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <img (click)="changeStarToggle(film.title)" *ngIf="!starsMap.get(film.title)" [src]="starUnchecked" alt="Unchecked">
              <img (click)="changeStarToggle(film.title)" *ngIf="starsMap.get(film.title)" [src]="starChecked" alt="Checked">
              <div class="text-lg-end">
                <a class="btn btn-outline-dark mt-auto" [routerLink]="['/films',film.id]">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
